:root {
    --blue: #2F80ED;
    --grey: #F2F2F2;
    --onyx: #1F1F1F;
}

.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: var(--grey);
}

.logo {
    position: absolute;
    top: 30px;
    left: 64px;
    width: 183px;
}

.logo__header {
    height: 32px;
}

.header_title {
    align-self: center;
    margin: 0 0 0 64px;
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: 600;
    z-index: 3;
}

.header_subtitle {
    position: absolute;
    z-index: 3;
    width: 388px;
    line-height: 25px;
    font-size: 18px;
    left: 64px;
    bottom: 30px;
}

.header_link {
    text-decoration: none;
    color: var(--blue);
}

.header_square-pic {
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 64px;
    height: 568px;
    width: 568px;
    background-color: var(--blue);
}

.header_main-illustration {
    position: absolute;
    z-index: 2;
    height: 608px;
    width: 765px;
    bottom: 0px;
    right: 0px;
}

.description {
    margin: 0 0 100px 0;
}

.two-columns {
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    flex-direction: row;
    width: 80%;
}

.two-columns_brief {
    color: var(--blue);
    width: 175px;
    margin: 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 500;
}

.two-columns_main-text {
    width: 80%;
    min-width: 784px;
}

.two-columns_paragraph {
    line-height: 34px;
    font-size: 24px;
    margin: 0 0 30px;
}

.two-columns_span-bold {
    line-height: 34px;
    font-size: 24px;
    font-weight: 600;
}

.digits {
    margin: 100px 0;
}

.section-title {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    line-height: 69px;
    font-size: 60px;
    font-weight: 600;
}

.section-subtitle {
    width: 60%;
    margin: 20px auto 0;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
}

.table {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto 100px;
}

.table_cell {
    width: 250px;
    margin-top: 60px;
}

.table_heading {
    line-height: 1.15;
    font-size: 24px;
    margin: 0;
}

.table_text {
    margin: 20px 0 0;
    line-height: 1.2;
    font-size: 18px;
}

.feinman {
    position: relative;
    height: 790px;
    background-color: var(--grey);
    background-image: url('../images/feinman.png');
    background-repeat: no-repeat;
    background-size: 867px 637px;
    background-position: left bottom;
}

.feinman_title {
    padding: 100px 0 0;
    height: 276px;
    width: 648px;
    margin: 100px auto 0;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
}

.feinman_subtitle {
    margin: 70px auto 0;
    text-align: center;
    line-height: 51px;
    font-size: 36px;
}

.feinman_link {
    position: absolute;
    top: 57%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    color: black;
    text-decoration: none;
}

.kaufman {
    position: relative;
    background-color: var(--onyx);
    overflow: hidden;
    margin: 0;
    color: white;
}

.section-title__white {
    position: relative;
    z-index: 1;
    margin: 90px auto 20px;
}

.section-subtitle__white {
    margin: 20px auto 0;
}

.table__white {
    position: relative;
    margin: 0 auto 90px;
    z-index: 1;
}

.table_cell__white {
    margin: 80px 0 0;
    width: 200px;
}

.kaufman_triangle {
    position: absolute;
    top: 0;
    right: -210px;
    fill: var(--blue);
    height: 877px;
    width: 877px;
    z-index: 0;
}

.footer {
    background-color: var(--onyx);
    min-height: 252px;
    padding-top: 60px;
}

.footer_columns {
    margin: 60px 64px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

.footer_column__copyright {
    position: relative;
    width: 50%;
}

.logo__footer {
    height: 35px;
    top: 0;
    left: 0;
}

.footer_author {
    position: absolute;
    margin: 0;
    left: 0;
    bottom: 18px;
    line-height: 25px;
    font-size: 18px;
}

.footer_column__info, .footer_column__social {
    width: 25%;
    position: relative;
    left: 215px;
}

.footer_column-heading {
    text-align: left;
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
}

.footer_column-links {
    text-align: left;
    margin: 20px 0 16px 0;
    line-height: 30px;
    font-size: 18px;
    color: white;
    list-style-type: none;
    padding: 0;
}

.footer_link {
    text-decoration: none;
    color: white;
}

.footer_social-links__fb::before {
    content: url(../images/facebook_white.svg)" ";
}

.footer_social-links__vk::before {
    content: url(../images/vk_white.svg)" ";
}

.footer_social-links__ig::before {
    content: url(../images/instagram_white.svg)" ";
}